.card {
    background-color: rgb(248, 193, 193);
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    height: 4rem;
    /* text-align: center; */
    /* justify-content: flex-start; */
    /* padding: 3%;   */
  }